h1 {
	text-align: center;
	color: #9932CC;
	font-family: 'Bungee Shade', cursive;
	font-size: 150px;
}

h4 {
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	color: white;
	font-size: 20px;
}

#quiz-area {
	font-family: 'Work Sans', sans-serif;
}

body {
	background-image: url(https://www.xmple.com/wallpaper/blue-white-gradient-linear-2736x1824-c2-1e90ff-ffffff-a-90-f-14.svg);
}